body {
  background-color:rgba(235, 173, 173, 0.16);

}

.emotionsbuttons{
background-color: rgba(235, 173, 173, 1);
border-radius:1rem;
font-size: 1.5rem;
padding:1rem;
margin:1rem;


}

section {
  display: grid;
  grid-template-columns: 500px;
  justify-content: center;
  text-align:center;
  flex-direction: column;
  padding:2rem;
}

h1 {
  font-size:1.5rem;
}

h2{
  font-size:2rem;
}